<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>DefaultTheme</string>
	<key>displayName</key>
	<string>Default Theme</string>
	<key>images</key>
	<dict>
		<key>test</key>
		<string>test_1</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>backgroundTextColor</key>
		<string>245,245,245</string>
		<key>testFallback</key>
		<string>255,255,255</string>
		<key>backgroundColor</key>
		<string>30,30,30</string>
	</dict>
</dict>
</plist>
